@media screen and (max-width:576px) {
    .nav-menu{
        display: none;
    }
    .main-nav{
        display: flex;
        justify-content: space-between;
        margin-top: 52px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 146px 88px 20px 20px;
    }
    .header-banner-image{
        width: 353px;
        height: 588px;
    }
    .header-banner-image-all{
        margin: 20px 100px;
    }
}