@media screen and (max-width:576px) {

    /* common style */
    .header-banner-image, .exercise, .habit,.run{
        margin: 5px auto;
    }


    .nav-menu{
        display: none;
    }
    .main-nav{
        margin: 52px 20px;
        display: flex;
        justify-content: space-between;

    }
    .btn-container-1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .fa-bars{
        color: white;
    }
    .header-banner{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .header-title{
        font-size: 2.25rem;
    }
    .header-description{
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        margin-right: 90px;
    }
    .btn-1, .btn-2{
        padding: 1rem 1.5rem ;
        font-size: 0.8rem;
        margin: 0;
    }
    .header-banner-image{
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-right: 0px;
        position: relative;
    }
    .btn-3{
        width: auto;
        position: absolute;
        margin-left: 53%;
        margin-top: -150%;
    }
    .btn-3-title{
        font-size: 1.2rem;
    }
    .btn-4{
        position: absolute;
        margin-top:-59% ;
    }
    .habit{
        width: 100%;
    }
    .exercise{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .run{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .run-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    .run-description{
        width: 80%;
    }
    .run-image{
        height: 17rem;
        width: 19rem;
    }
    .bt{
        width: 80%;
    }
    .bmi{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .bmi-container{
        max-width: 90%;
        text-align: left;
        margin: 0 auto;
    }
    .bmi-chart{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        align-items: flex-start;
        justify-content: center;
    }
    .bmi-table{
        margin-left: 0;
    }
    .bmi-calculator-all{
        width: 70%;
        text-align: left;
        margin-right: 0;
    }
    .bmi-calculator{
        display: grid;
        grid-template-columns: 65% 65% ;
        margin-bottom: 20px;
        gap: 10px;
    }
    .bmi-input{
        padding: 0.8rem ;
        font-size: 0.8rem;
        border-radius: 8px;
    }
    .btn-5{
        padding: 1rem 1.5rem;
        border-radius: 40px;
        font-weight: 700;
    }
    .trainer-image{
        margin: 0px auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    .team-description{
        margin: 20px auto;
        width: 80%;
    }
    .feature {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        text-align: center;
        gap: 40px;
        width: 50%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-container,.get-start{
        padding: 0;
        width: 97%;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 3%;
        margin-bottom: 5%;
    }
    .footer-main{
        width: 90%;
    }
    .condition{
        font-size: 1.5rem;
    }

}