@media screen and (max-width:576px) {
    .main, footer{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .main-nav{
        margin: 52px 20px;
        display: flex;
        justify-content: space-between;

    }
    .fa-bars{
        color: white;
    }
    .header-banner{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .header-title{
        font-size: 2.25rem;
    }
    .header-description{
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
        margin-right: 90px;
    }
    .btn-1, .btn-2{
        padding: 6%;
    }
    .header-banner-image{
        width: auto;
        height: auto;
        padding: 10px;
        margin-right: 0px;
    }
    .btn-3{
        margin-left: -18vh;
        margin-top: 7vh;
    }
    .btn-4{
        margin-left: -35vh;
        margin-top: 40vh;
    }
}