@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dancing-script-normal {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Nav */
body{
    background-color: rgb(0, 0, 0);
    max-width:1440px;
    margin: 0 auto;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 57px 190px 10px 190px;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
ul{
    display: flex;
    align-items: center;
    gap: 47px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 0;

}
ul>li{
    list-style: none;
    margin: 0px 10px;
    padding: 0;
    
}
ul>li>a {
    text-decoration: none;
    color: white;
}
.btn-primary{
    border-radius: 46px;
    border: none;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    color: white;
}

/* Head banner */
.header-banner{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px 10px 190px;
}
.header-title{
    color: white;
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.header-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 28px;
}
.btn-1{
    background-color: rgb(230, 83, 60);
    border: none;
    color: white;
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
}
.btn-2{
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 42px;
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 14px;
}
.header-banner-image{
    width: 100%;
    height: 100%;
    
}
.header-banner-image-all{
    position: relative;
}
.btn-3{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding:10px 40px;
    position: absolute;
    margin-top: 20vh;
    margin-left: -20vh;
}
.btn-3-title{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
}
.btn-3-description{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}
.btn-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    margin-top: -20vh;
    margin-left: -1vh;
}
.btn-4-all{
    text-align: left;
}
.btn-4-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}
.btn-4-description{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}
.circle{
    height: 3rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin: 1rem 0.2rem;
}

/* main section */
.habit{
    width: 476px;
    margin: 0 auto;
}
.habit-head{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
    text-align: center;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 28px;
    margin-bottom: 28px;
    text-align: center;
}
.exercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
}
.exercise-chart{
    text-align: center;
}
.exercise-img {
    border-radius: 50%;
}
.exercise-chart-title{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.exercise-chart-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
}
/* run section */

.run{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
    height: auto;
    background-color: rgb(34, 34, 34);
    border-radius: 34px;
}
.run-container{
    width: 40%;
    margin-left: 3.5rem;
}
.run-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-top: 41px;
    margin-bottom: 24px;
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 34px;
}

.run-image{
    border-radius: 18px;
    margin: 30px;
    object-fit: none;
    object-position: 67% 34%;
    height: 22rem;
    width: 24rem;
    
}
/* BMI */

.bmi-container{
    text-align: center;
    width: 100%;
    margin: 50px auto;
}
.bmi-head{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 34px;
}
.bmi-chart{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    background-color: rgb(34, 34, 34);
}

.bmi-caption{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    margin-top: 0;
}
.bmi-caption-2{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.bmi-table{
    margin-left: 150px;
    margin-top: 20px;
}

table, td, th{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px 20px;
}

.bmi-calculator{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;

}
.bmi-calculator-all{
    width: 557px;
    margin-right: 180px;
}
#activity{
    grid-column: span 2;
}
.bmi-input{
    padding: 12px 40px 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Team */
.team{
    margin: 50px auto;
    text-align: center;
}
.trainer{
    position: relative;
}
.trainer-man{
    width: 20rem;
    height: 17rem;
    border-radius: 18px;
    opacity: 0.5;
}
.trainer-name{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin: 0;
}
.trainer-position{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.514);
    font-weight: 500;
    margin: 0;
}
.trainer-text{
    position: absolute;
    margin-top: -40%;
    margin-right: 20%;
    padding: 50px;
}
.trainer-image{
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    max-width: 80%;
    height: auto;
}
/* Feature */
.feature{
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 18px;
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    margin-top: 70px;
    padding: 50px;
}
.feature-head{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    text-align: center;
}
.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.footer{
    background-color:rgba(255, 255, 255, 0.1);
    margin-top: 120px;
}
.footer-container {
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.get-start {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.footer-main{
    width: 443px;
    height: 176px;
}
.footer h1 {
    color:rgb(230, 83, 60);
    font-size: 3rem;
    font-weight: 900;
}
.footer h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.footer p{
    color:  rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}
hr{
    opacity: 0.5;
    width: 70%;
    margin-bottom: 50px;
}

.condition{
    text-align: center;
    padding-bottom: 50px;
}